
.vs/STRIPS/v15/Server/sqlite3/db.lock
.vs/STRIPS/v15/Server/sqlite3/storage.ide
.vs/STRIPS/v15/Server/sqlite3/storage.ide-shm
.vs/STRIPS/v15/Server/sqlite3/storage.ide-wal
STRIPS/obj/*
STRIPS/bin/*
.vs/STRIPS/v15/.suo
